
@{
    ViewBag.Title = "Упс...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog-elements-border">
    <p class="main-font" style ="font-size: 18px;">Извините, но у вас нет прав доступа.</p>
</div>

